<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Rotary Abidjan Bietry ::{% endblock %}</title>

        {%  block meta %}
            <meta name="keywords" content="Rotary, Abidjan, Bietry, club">
            <meta name="description" content="Diner de gala de bienfaisance 28 juin 2025, pour la construction d'un bâtiment de soins à pouponnière de Dabou" />
            <link rel="canonical" href="{{ absolute_url(path('app_home')) }}" />
            <link rel="next" href="{{ absolute_url(path('app_checking_ticket')) }}" />

            <meta property="og:locale" content="fr_FR" />
            <meta property="og:locale:alternate" content="en_US" />
            <meta property="og:type" content="website" />
            <meta property="og:title" content="Rotary Club Abidjan Bietry" />
            <meta property="og:description" content="Diner de gala de bienfaisance 28 juin 2025, pour la construction d'un bâtiment de soins à pouponnière de Dabou" />
            <meta property="og:url" content="{{ absolute_url(path('app_home')) }}" />
            <meta property="og:site_name" content="Rotary Club Abidjan Bietry" />
            <meta property="article:modified_time" content="2025-04-10T09:08:30+00:00" />
            <meta property="og:image" content="{{ absolute_url(asset('assets/image/affiche4.jpeg')) }}" />
            <meta property="og:image:type" content="image/svg+xml" />
            <meta name="twitter:card" content="summary_large_image" />
            <meta name="twitter:description" content="Diner de gala de bienfaisance 28 juin 2025, pour la construction d'un bâtiment de soins à pouponnière de Dabou"/>
            <meta name="twitter:title" content="Rotary Club Abidjan Bietry"/>
            <meta name="twitter:domain" content="Rotary Club Abidjan Bietry"/>
            <meta name="twitter:image:src" content="{{ absolute_url(asset('assets/image/affiche4.jpeg')) }}"/>
        {% endblock %}
        <link rel="icon" href="{{ absolute_url(asset('assets/image/fanion.png')) }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/style.css')) }}">
        {% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                {% block body %}{% endblock %}

                <footer class="bottom-fixed">
                    <div class="menu">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ absolute_url(path('app_participation_new')) }}">
                                    <i class="bi bi-file-text"></i>
                                    <span class="nav-text">Inscription</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link actif" href="{{ absolute_url(path('app_checking_ticket') )}}">
                                    <i class="bi bi-qr-code-scan"></i>
                                    <span class="nav-text">Mes tickets</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </footer>
            </div>
        </div>


        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
                    crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
